body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, "Lucida Grande", sans-serif;
}
/* .container {
  display: grid;
  grid-template-columns: 1fr;
} */


/* NAVIGATION */
.nav {
  background: #333333;
  display: flex;
  border-top: 1px;
  font-size: 0.9em;
}
.nav-list {
  list-style: none;
  display: inline-flex;
  margin: 10px;
  margin-left: auto;
}
.main-nav-list {
  padding: 0px 20px;
}
.nav-list a {
  text-decoration: none;
  color: #ffffff;
}
.mobile-nav-list {
  display: none;
}
@media only screen and (max-width: 500px) {
  .nav-list {
    margin: 0px 5px;
    margin-left: auto;
  }
  .main-nav-list {
    display: none;
  }
  .mobile-nav-list {
    display: inline-block;
    padding: 3px;
    margin: 3px;
    border: 1px solid #000000c5;
    border-radius: 5px;
  }
}


/* TITLE BAR */
.div-title-bar {
  background: #7745a8;
  display: flex;
  color: #ffffff;
  padding: 7px;
  padding-left: 4%;
  padding-right: 2%;
  border-top: 1px;
  border-bottom: 1px;
}
.div-title-bar span {
  align-self: center;
  font-size: 1.5em;
}
.save-btn {
  display: flex;
  align-items: center;
  margin: 0px;
  margin-left: auto;
  padding: 0px;
  cursor: pointer;
}
.save-btn li {
  background: green;
  list-style: none;
  border-radius: 4px;
  padding: 12px 24px;
  font-size: 18px;
}
#mobile-btn {
  display: none;
}
.save-btn a {
  text-decoration: none;
  color: #ffffff;
}
@media only screen and (max-width: 500px) {
  .div-title-bar {
    padding: 5px 5px;
  }
  .div-title-bar span {
    font-size: 1em;
    padding: 0px;
  }
  .save-btn li {
    display: none;
  }
  #mobile-btn {
    display: block;
    padding: 2px 8px;
  }
}

/* TASK INPUT */
.task-input {
  cursor: text;
}

.task-input input {
  border: 0px;
  width: 96%;
  font-size: 1.5em;
  margin: 0px;
  padding: 10px;
  padding-left: 4%;
  padding-right: 0%;
}
@media only screen and (max-width: 500px) {
  .task-input input {
  font-size: 1em;
  padding: 5px 5px;
  }
}

/* THE MAIN TASK LIST */
.div-task-lists {
  cursor: text;
  background-color: red;
}
#task-lists {
  margin: 0px;
  background-color: #cacaca;
}
#task-lists li {
  background-color: #cacaca;
  width: 96%;
  font-size: 1.5em;
  padding: 10px;
  padding-left: 4%;
  padding-right: 0%;
  /* And to make the list totally responsive */
}
@media only screen and (max-width: 500px) {
  #task-lists li {
  font-size: 1em;
  padding: 5px 5px;
  }
}